@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    margin: 0;
    padding: 0;
    background-color: #FFF7EF;
    font-family: 'Lato', sans-serif;
}

body {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-top: 0;
}

.header {
    margin-left: -15px;
    margin-right: -15px;
    height: 50px;
    background-color: #1E3859;
    color: #fff;
}

.headerItem {
    width: 150px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 15pt;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.headerItem:hover {
    text-decoration: underline;
}

.active {
    background-color: #2C5282;
    color: #fff;
}

.active:hover {
    text-decoration: none;
}

a:link {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: underline;
}
a:visited {
    color: inherit;
    text-decoration: none;
}

.title {
    font-weight: bolder;
}

.center {
    text-align: center;
}
 
.right {
    text-align: right;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    
}

input,
textarea, 
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
input:focus, 
textarea:focus,  
select:focus {
    border: 1px solid #038C8C;
}
textarea {
    height:100px;
    width: 55%;
}
input[type=submit],
input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #1E3859;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
input[type=submit]:hover,
input[type=button]:hover{
    background: #1E3859;
    color: #fff;
}

.results {
    width: 100%;
    border-spacing: 15px;
}

.results td {
    width: 33%;
    vertical-align: text-top;
}